prostate_model/__pycache__/*
*.ipynb
NLSTv2/*
__pycache__/*
.ipynb_checkpoints/*
checkpoint/*.pth
checkpoint/.*
checkpoint/save/*
train_map/
mil_model/__pycache__/*
foreground/data_256/*
foreground/data*
foreground/*.json
*runs/*
